.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chip {
  width: 30px;
  height: 30px;
  transform: rotateX(30deg);
}

.card {
  width: 100px;
  height: 150px; /* x1.5 */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.bankroll {
  background-color: #efefef;
  border-radius: 5px;
}

.opponents {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.opponents .opponent {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  perspective: 128px;
  min-width: 128px;
}

.opponents .opponent:first-child:not(:last-child) {
  margin-top: 30px;
}

.opponents .opponent:last-child:not(:first-child) {
  margin-top: 30px;
}

.opponents .opponent .avatar {
  margin: 10px 40px;
}

.opponents .opponent .bankroll {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}

.opponents .opponent .card {
  margin-left: 2px;
  margin-right: 2px;
  width: 60px;
  height: 90px; /* x1.5 */
  transform: rotateX(-2deg);
}

.opponents .opponent:first-child:not(:last-child) .card {
  transform: rotate3d(100, -100, 0, -5deg)
}

.opponents .opponent:last-child:not(:first-child) .card {
  transform: rotate3d(-100, -100, 0, 5deg);
}

.table {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 600px; /* (width(.card) + margin-x(.card)) * 5 */
}

.pot {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  color: #efefef;
}

.community-cards {
  perspective: 600px;
}

.community-cards .card {
  margin-left: 10px;
  margin-right: 10px;
  transform-style: preserve-3d;
  transform: rotateX(5deg);
}

.bet-amount {
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  color: #efefef;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-cards {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);
  perspective: 220px;
}

.hand-cards .avatar {
  margin: 10px 80px;
  max-height: 80px;
}

.hand-cards .bankroll {
  max-width: 220px;
  margin: 10px auto;

  font-family: monospace;
  font-size: 16px;

  background-color: #f6f6f6;
}

.hand-cards .card {
  margin-left: 4px;
  margin-right: 4px;
  transform: rotateX(-5deg);
}

.actions {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.action-button {
  margin-left: 5px;
  margin-right: 5px;

  justify-content: center;
  outline-width: 0;
  text-align: center;
  padding: 6px 8px;
  min-width: 64px;
  border: 1px #f6f6f6 solid;
  background-color:rgba(0, 0, 0, 0.2);
  color: #f6f6f6;
  border-radius: 10px;
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
}

.action-button:hover {
  background-color:rgba(0, 0, 0, 0.5);
}

.staging {
  /*background-color: #fff;*/
  /*border-radius: 10px;*/
  /*box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/

  margin: 20px;
  padding: 20px;
}

.staging .winner {
  margin-bottom: 20px;
}

.staging .winner .avatar {
  margin: 10px 40px;
  max-height: 40px;
}
